dist
node_modules
plop-templates
public
.husky
.vscode
.idea
*.sh
*.md
*.less
*.css
*.png
*.jpg
*.gif
src/assets
src/utils/position.js
src/utils/toolsValidate.js
src/utils/weChatFunction.js

.eslintrc.js
.prettierrc.js
