// 不带标题的二次弹框
.customizeConfirmDialogClass{
    width: 540px !important;
    border-radius: 20px !important;
    .van-dialog__content{
        width: 540px;
        min-height: auto !important;
    }
    .van-dialog__message{
        font-family: PingFangSC, PingFang SC;
        font-weight: 500;
        font-size: 30px;
        color: #3A3A3A;
        padding: 48px 48px;
    }
    .van-dialog__footer{
        .van-button{
            height: 92px;
            font-weight: 400;
            font-size: 28px;
        }    
    }
}
// 带标题的二次弹框
.customizeConfirmDialogWithTitleClass{
    width: 540px !important;
    border-radius: 20px !important;
    .van-dialog__header{
        padding-top: 48px;
        font-weight: 500;
        font-size: 30px;
        color: #3A3A3A;
        line-height: 30px;
    }
    .van-dialog__content{
        width: 540px;
        min-height: auto !important;
        border-bottom: 2px solid #f8f8f8;
    }
    .van-dialog__message{
        font-family: PingFangSC, PingFang SC;
        font-weight: 400;
        font-size: 28px;
        color: #3A3A3A;
        padding: 30px 40px 48px;
    }
    .van-dialog__footer{
        .van-button{
            height: 92px;
            font-weight: 400;
            font-size: 28px;
        }    
    }
}
